<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ER -->
      <package
            uri="http://eclipse.org/er"
            class="er.ErPackage"
            genModel="model/ER.genmodel"/>
   </extension>

</plugin>
